<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="inner cover">
                <h1 class="cover-heading">Movies at your desktop.</h1>
                <p class="lead">Wallpapers made from movies and TV shows stills</p>
                <p class="lead">
                <a href="#" class="btn btn-lg btn-primary">Browse Wallpapers</a>
                </p>
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <p>MovieShots created by <a href="https://twitter.com/germanson">@GerManson</a>.</p>
                    <div class="disclamer">
                      <p class="text-muted">This site will exist as long as copyright owners allow it to exist.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>